@font-face {
  font-family: Futura;
  src: url(./Futura-Bold.ttf);
}

@font-face {
  font-family: Gilroy;
  src: url(./Gilroy-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

*::selection {
  color: #fff;
  background-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #F7F7F7;
}

#nav {
  width: 100%;
  position: fixed;
  z-index: 8;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
}

#nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#links {
  padding: 10px;
}

#nav-part1 {
  /* background-color: RED; */
  height: 82px;
  overflow: hidden;
}

#nav-part1 svg {
  display: block;
}

#nav-part2 #links a {
  text-transform: uppercase;

  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  margin: 0 20px;
}

#icons {
  padding: 10px;
  border-radius: 50px;
  background-color: #F7F7F7;
}

#nav-part2 #icons i {
  font-size: 18px;
  margin: 0 20px;
  font-weight: 100;
}

.navigate{
  width: 100%;
  height: 12.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-left: 1rem;
}

.link-holder {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-holder {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 232, 232);
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.navigation-links {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--r-globalnav-color);
  position: relative;
  /* z-index: 99; */
  padding: 0 calc(8px / var(--r-globalnav-text-zoom-scale, 1));
  height: 44px;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-offset: -7px;
  transition: color .32s cubic-bezier(.4, 0, .6, 1);
  cursor: pointer;
}

.navigation-links:hover {
  color: blue;
}

#cursor {
  height: 180px;
  width: 180px;
  background-color: rgba(224, 139, 189, 0.814);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);

}

#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  /* padding: 0 1vw; */
  padding-top: 12vh;
}


#page1 h1 {
  font-family: futura;
  font-size: 17vh;
  text-transform: uppercase;
  line-height: 25vh;
  letter-spacing: -1px;
  color: #F7F7F7;
}

#page1 h4 {
  font-family: futura;
  font-size: 17vh;
  text-transform: uppercase;
  line-height: 25vh;
  letter-spacing: 1.7rem;
  color: #F7F7F7;
}

#page1 h3 {
  font-family: futura;
  font-size: 41px;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #F7F7F7;
}

#page1 h2 {
  font-family: futura;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 51px;
  color: #F7F7F7;
}

#page1 h1,
#page1 h2,
#page1 h3, 
#page1 h4, 
.qutes h1{
  font-family: futura;
  text-transform: uppercase;
  text-shadow: 13px 0px 8px rgba(0, 0, 0, 0.5);

}

#gen-dis {
  font-size: 40px;
  letter-spacing: 0px;
  font-family: futura;
  text-transform: uppercase;
  text-shadow: 13px 0px 8px rgba(0, 0, 0, 0.5);
}

#video-container {
  height: 100vh;
  width: 100%;
  background-color: grey;
  margin-top: 1vw;
  position: relative;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-container #play {
  /* padding: 3vw 2.2vw; */
  background-color: black;
  color: #fff;
  font-size: 1.3vw;
  position: fixed;
  text-transform: uppercase;
  font-family: futura;
  border-radius: 50%;
  opacity: 0;
  scale: 0;

}

#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}

#page2 .elem {
  height: 100%;
  width: 31%;
  /* background-color: red; */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}

#page2 .elem .dets {
  height: 60px;
  border-radius: 50px;
  width: 70%;
  position: absolute;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.579);


}

#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.child {
  height: 54vh;
  width: 38vw;
  /* background-color: red; */
  /* border: 2px solid #000; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child img {
  height: 100%;
}

.subtitle{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  margin-top: 2rem;
}

#subtitle h3{
  font-size: 5vh;
  font-family: futura;
  text-transform: uppercase;
  text-shadow: 13px 0px 8px rgba(0, 0, 0, 0.5);
}

.title-Holder{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
}

#typing-text {
  border-right: 2px solid #000;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(40, end);
}

.dis-holder {
  background: rgb(198, 198, 198);
  width: 100%;
  min-height: 500px;
  margin: 1rem;
  position: relative;
  overflow-block: clip;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  /* Change values for your desired shadow */
}

.p-blurred-background {
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 60%;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  /* Adjust the blur amount as needed */
  background-color: rgba(255, 255, 255, 0.3);
  /* Adjust the background color and opacity */
}

#sub-name-holder {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: -8rem;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media (max-width:600px) {

  #nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
  }

  #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #links {
    padding: 10px;
    display: none;
  }

  #nav-part1 {
    /* background-color: RED; */
    height: 67px;
    overflow: hidden;
  }

  #nav-part1 svg {
    display: block;
    height: 67px;
    width: 80px;
  }

  #nav #gen-logo {
    height: 40px;
    margin-left: -20px;
  }

  #icons {
    padding: 5px;
    border-radius: 50px;
    background-color: #F7F7F7;
  }

  #nav-part2 #icons i {
    font-size: 15px;
    margin: 0 20px;
    font-weight: 100;
  }

  #page1 {
    /* background-color: red; */
    min-height: 110vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;

  }
  #page1 h4 {
    font-family: futura;
    font-size: 6vh;
    text-transform: uppercase;
    line-height: 7vh;
    letter-spacing: .8rem;
    margin-bottom: 7rem;
  }

  #page1 h1 {
    line-height: 7vh;
    font-size: 12vw;
    letter-spacing: 0px;
  }

  #video-container {
    height: 25vh;
    margin-top: 3vw;
  }

  #video-container #play {
    padding: 9.5vw 7.2vw;
    font-size: 4.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5vw 3vw;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
    margin-bottom: 3vw;
  }

  #page2 .elem .dets {
    height: 40px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.73)

  }

  #page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .child {
    height: 54vh;
    width: 88vw;
    /* background-color: red; */
    /* border: 2px solid #000; */
    position: relative;
    padding: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .child img {
    height: 100%;
  }

  .title-Holder {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    width: 100%;
    height: 200px;
    margin-top: 12rem;
  }

  .title-Holder {
    padding: 1rem;
  }

  #page2 {
    height:50vh;
  }

  .we-do{
    margin-top: 15rem;
  }

  /* #gen-dis{
    margin-top: 8rem;
  } */

  .p-blurred-background{
    height: 90%;
  }
  #p-blurred-background{
    height: 60%;
  }

  .trdCard{
    margin-top: 1rem;
    height: 90vh;
  }
  #sub-name-holder{
    height: 0;
    margin-top: 12rem;
  }

  .hide{
    display: none;
  }

  .row-hol{
    padding-top: 8rem;
  }
}

@media (max-width : 860px){
  .navigate{
    display: none;
  }

  #page1 {
    min-height: 70vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
  }

  /* #page1 h1 {
    font-family: futura;
    font-size: 12vh;
    text-transform: uppercase;
    line-height: 15vh;
    letter-spacing: 0px;
  } */

  #page1 h3 {
    font-family: futura;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0px;
  }

  #page1 h2 {
    font-family: futura;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 30px;
  }
}

@media (max-width : 660px){
  .navigate{
    display: none;
  }
  #play{
    display: none;
  }

  /* #page1 h1 {
    font-family: futura;
    font-size: 12vh;
    text-transform: uppercase;
    line-height: 15vh;
    letter-spacing: 0px;
  }

  #page1 h3 {
    font-family: futura;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0px;
  }

  #page1 h2 {
    font-family: futura;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 30px;
  } */
}

/* @media (max-width : 960px){

  #page1 {
    min-height: 50vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 35vh;
  }

  #page1 h1 {
    font-family: futura;
    font-size: 12vh;
    text-transform: uppercase;
    line-height: 15vh;
    letter-spacing: 0px;
  }

  #page1 h3 {
    font-family: futura;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0px;
  }

  #page1 h2 {
    font-family: futura;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 30px;
  }
} */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

/* demo setup */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

blockquote {
  max-width: 35rem;
  margin-inline: auto
}

/* blockquote card colors */
blockquote.q-card-color-1 {
  --accent-color: rgb(32 32 54);
  --bg-color: rgb(30 145 254);
  --dot-color: rgb(255 255 255 / .35);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(243 243 243);
}

blockquote.q-card-color-2 {
  --accent-color: rgb(243 243 243);
  --bg-color: rgb(33 29 30);
  --dot-color: rgb(255 255 255 / .125);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(33 29 30);
}

blockquote.q-card-color-3 {
  --accent-color: rgb(30 145 254);
  --bg-color: rgb(32 32 54);
  --dot-color: rgb(255 255 255 / .125);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(243 243 243);
}

/* blockquote card setup*/
blockquote.q-card {
  --padding: 1rem;
  padding: var(--padding);
  color: var(--text-color, black);
  font-weight: 600;
  background-color: var(--bg-color, white);
  display: grid;
  gap: 1rem;
  background-image: radial-gradient(circle, var(--dot-color, rgb(0 0 0 / .125)) calc(25% - 1px), transparent 25%);
  background-size: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.5rem 2rem rgb(0 0 0 / .5)
}

blockquote.q-card::before {
  --qHeight: 4rem;
  content: "";
  margin-left: calc(var(--padding) * -1);
  margin-top: calc(var(--padding) * -1);
  height: var(--qHeight);
  width: calc(var(--qHeight) * 1.1);
  background-image:
    radial-gradient(circle at bottom right,
      transparent calc(var(--qHeight) / 4 - 1px),
      var(--accent-color, black) calc(var(--qHeight) / 4) calc(var(--qHeight) / 2),
      transparent calc(var(--qHeight) / 2 + 1px)),
    linear-gradient(var(--accent-color, black), var(--accent-color, black));
  background-size: calc(var(--qHeight) / 2) calc(var(--qHeight) / 2);
  background-position: top left, bottom left;
  background-repeat: space no-repeat
}

blockquote.q-card>.author {
  color: var(--text-color-author, white);
  background-color: var(--accent-color, black);
  justify-self: end;
  font-size: 0.75em;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}

blockquote.q-card>.author::before {
  content: "- "
}









.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}