@font-face {
  font-family: Futura;
  src: url(./Futura-Bold.ttf);
}

@font-face {
  font-family: Gilroy;
  src: url(./Gilroy-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

*::selection {
  color: #fff;
  background-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #F7F7F7;
}

#nav {
  width: 100%;
  position: fixed;
  z-index: 8;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
}

#nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#links {
  padding: 10px;
}

#nav-part1 {
  /* background-color: RED; */
  height: 82px;
  overflow: hidden;
}

#nav-part1 svg {
  display: block;
}

#nav-part2 #links a {
  text-transform: uppercase;

  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  margin: 0 20px;
}

#icons {
  padding: 10px;
  border-radius: 50px;
  background-color: #F7F7F7;
}

#nav-part2 #icons i {
  font-size: 18px;
  margin: 0 20px;
  font-weight: 100;
}

.navigate{
  width: 100%;
  height: 12.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-left: 1rem;
}

.link-holder {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-holder {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 232, 232);
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.navigation-links {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--r-globalnav-color);
  position: relative;
  /* z-index: 99; */
  padding: 0 calc(8px / var(--r-globalnav-text-zoom-scale, 1));
  height: 44px;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-offset: -7px;
  transition: color .32s cubic-bezier(.4, 0, .6, 1);
  cursor: pointer;
}

.navigation-links:hover {
  color: blue;
}

#cursor {
  height: 180px;
  width: 180px;
  background-color: rgba(224, 139, 189, 0.814);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);

}

#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 1vw;
  padding-top: 12vh;
}


#page1 h1 {
  font-family: futura;
  font-size: 17vh;
  text-transform: uppercase;
  line-height: 25vh;
  letter-spacing: -1px;
}

#page1 h4 {
  font-family: futura;
  font-size: 17vh;
  text-transform: uppercase;
  line-height: 25vh;
  letter-spacing: 1.7rem;
}

#page1 h3 {
  font-family: futura;
  font-size: 41px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

#page1 h2 {
  font-family: futura;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 51px;
}

#page1 h1,
#page1 h2,
#page1 h3, 
#page1 h4 {
  font-family: futura;
  text-transform: uppercase;
  text-shadow: 13px 0px 8px rgba(0, 0, 0, 0.5);

}


#video-container {
  height: 100vh;
  width: 100%;
  background-color: grey;
  margin-top: 1vw;
  position: relative;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-container #play {
  padding: 3vw 2.2vw;
  background-color: black;
  color: #fff;
  font-size: 1.3vw;
  position: fixed;
  text-transform: uppercase;
  font-family: futura;
  border-radius: 50%;
  opacity: 0;
  scale: 0;

}

#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}

#page2 .elem {
  height: 100%;
  width: 31%;
  /* background-color: red; */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}

#page2 .elem .dets {
  height: 60px;
  border-radius: 50px;
  width: 70%;
  position: absolute;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.579);


}

#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.child {
  height: 54vh;
  width: 38vw;
  /* background-color: red; */
  /* border: 2px solid #000; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child img {
  height: 100%;
}

.subtitle{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  margin-top: 2rem;
}

#subtitle h3{
  font-size: 5vh;
  font-family: futura;
  text-transform: uppercase;
  text-shadow: 13px 0px 8px rgba(0, 0, 0, 0.5);
}

.title-Holder{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

#typing-text {
  border-right: 2px solid #000;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media (max-width:600px) {

  #nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
  }

  #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #links {
    padding: 10px;
    display: none;
  }

  #nav-part1 {
    /* background-color: RED; */
    height: 67px;
    overflow: hidden;
  }

  #nav-part1 svg {
    display: block;
    height: 67px;
    width: 80px;
  }

  #nav #gen-logo {
    height: 40px;
    margin-left: -20px;
  }

  #icons {
    padding: 7px;
    border-radius: 50px;
    background-color: #F7F7F7;
  }

  #nav-part2 #icons i {
    font-size: 15px;
    margin: 0 20px;
    font-weight: 100;
  }

  #page1 {
    /* background-color: red; */
    min-height: 110vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;

  }
  #page1 h4 {
    font-family: futura;
    font-size: 6vh;
    text-transform: uppercase;
    line-height: 7vh;
    letter-spacing: .8rem;
    margin-bottom: 7rem;
  }

  #page1 h1 {
    line-height: 7vh;
    font-size: 12vw;
    letter-spacing: 0px;
  }

  #video-container {
    height: 25vh;
    margin-top: 3vw;
  }

  #video-container #play {
    padding: 9.5vw 7.2vw;
    font-size: 4.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5vw 3vw;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
    margin-bottom: 3vw;
  }

  #page2 .elem .dets {
    height: 40px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.73)

  }

  #page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .child {
    height: 54vh;
    width: 88vw;
    /* background-color: red; */
    /* border: 2px solid #000; */
    position: relative;
    padding: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .child img {
    height: 100%;
  }

  .title-Holder {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    width: 100%;
    height: 200px;
    margin-top: 12rem;
  }

  .title-Holder {
    padding: 1rem;
  }
}

@media (max-width : 860px){
  .navigate{
    display: none;
  }

  #page1 {
    min-height: 70vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
  }

  /* #page1 h1 {
    font-family: futura;
    font-size: 12vh;
    text-transform: uppercase;
    line-height: 15vh;
    letter-spacing: 0px;
  } */

  #page1 h3 {
    font-family: futura;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0px;
  }

  #page1 h2 {
    font-family: futura;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 30px;
  }
}

@media (max-width : 660px){
  .navigate{
    display: none;
  }
  #play{
    display: none;
  }

  /* #page1 h1 {
    font-family: futura;
    font-size: 12vh;
    text-transform: uppercase;
    line-height: 15vh;
    letter-spacing: 0px;
  }

  #page1 h3 {
    font-family: futura;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0px;
  }

  #page1 h2 {
    font-family: futura;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 30px;
  } */
}

/* @media (max-width : 960px){

  #page1 {
    min-height: 50vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 35vh;
  }

  #page1 h1 {
    font-family: futura;
    font-size: 12vh;
    text-transform: uppercase;
    line-height: 15vh;
    letter-spacing: 0px;
  }

  #page1 h3 {
    font-family: futura;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0px;
  }

  #page1 h2 {
    font-family: futura;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 30px;
  }
} */
